{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}

    <div class="nav-principal">
        <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search') }}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <h1>Book Details</h1>

    <div class="col-sm-4">
      <img src="http://covers.openlibrary.org/b/isbn/{{book['isbn']}}-L.jpg" width="150px">
    </div>

    <ul>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Year: {{ book.year}}</li>
    </ul>

{% endblock %}
