{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}

    <div class="nav-principal">
        <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <h1>All Books</h1>

    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book', book_id=book.id) }}">
                    {{ book.title }}, from {{ book.author }}, {{ book.year }} ({{ book.isbn }})
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
