{% extends "layout.html" %}

{% block heading %}
  {{bookInfo[0]['title']}}
{% endblock %}

{% block body %}

    <div class="nav-principal">
        <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search') }}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

            <div class="book-info">
                <img src="http://covers.openlibrary.org/b/isbn/{{book_info[0].isbn}}-L.jpg">
                <p><br></p>
                <h5>{{ book_info[0].title }}, {{ book_info[0].year }}</h5>
                <h5> Author(s):{{ book_info[0].author }}</h5>
                <small>(ISBN {{ book_info[0].isbn }})</small>
                <p><br></p>
                <p>No. of Ratings: {{ book_info[1]['work_ratings_count'] }}</p>
                <p>Average Rating: {{ book_info[1]['average_rating'] }}</p>
            </div>

            <div class="book-review">
                <form method="POST" class="form-border">
                    <div class="form-group">
                        <h4 label for="rating">Rate this book</h4>
                        <br>
                        <div class="form-group">
                            <select id="rating" name="rating" class="form-control" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option selected value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="rating-input">
                        <textarea name="review" id="review" class="form-control" rows="10" placeholder="Write your review here" required></textarea>
                    </div>
                    <br>
                        <button class="btn btn-outline-dark mx-auto d-block" type="submit">Submit</button>
                </form>

                <div class="user-reviews">
                    <h4>Reviews from Other Users</h4>
                    {% for review in reviews %}
                    <div class="list-group">
                        <div>
                            <br>
                            <h6 style="font-weight:bold">{{review['username']}} rated...</h6>
                        </div>
                        <p>{{review['review']}}</p>
                        <p>Rated: {{review['rating']}}</p>
                    </div>
                    {% endfor %}

                </div>

            </div>

    <span class="clearfix"></span>



{% endblock %}
