{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}


{% block body %}

    <div class="nav-principal">
        <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <h1>Search for a book</h1>

    <form action="/search" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Title or Author">
            <small id="bookHelp" class="form-text text-muted">Example: 0375508325, Cosmos or Carl Sagan</small>
        </div>
        <button class="btn btn-outline-dark mx-auto d-block" type="submit">Search</button>
    </form>

  <div action="{{ url_for('dashboard') }}" method="POST">
    <ul style="list-style-type:none">
        {% for book in books %}
              <li>
                <option value="{{ books.id }}">{{ book.title }} to {{ book.author }}</option>
              </li>
        {% endfor %}

    </ul>
  </div>

{% endblock %}
