{% extends "layout.html" %}

{% block title %}
    Book List
{% endblock %}

{% block body %}

  <div class="nav-principal">
      <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>

    <h1>{{user_name}}'s Profile</h1>

{% endblock %}
